:root {
    --body-light-color: #e5e5e5;
    --body-dark-color: #2f303a;
    --accent-color: #2196f3;
    --title-text-color: #212121;
    --common-text-color: #757575;
    --typical-padding:94px;
    --typical-margin:30px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6
{
    margin: 0;
}

ul{
    list-style: none;
    margin: 0;
    padding-left: 0;
   
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {

    background-color: #fff;
    color: var(--common-text-color);
    font-family: 'Roboto' , sans-serif;
    text-decoration: none;
}

.container{
    margin: 0 auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}



/* -------------------------------------------Logo--------------------------------------------------------------------------*/

.logo {
    margin-right: var(--typical-padding);
    text-decoration: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    font-style: normal;
}
 
.logo-first-part{
    color: var(--accent-color);
}

/* -------------------------------------------Header-------------------------------------------------------------------------*/


.header{
    border-bottom: 2px solid #ECECEC;  
    background-color: #fff;
}

.header-content,
.menu,
.nav,
.auth,
.menu-item{
    display: flex;
    align-items:center;
}

.menu-item{
    display: flex;
    justify-content: flex-start;
    margin-right: 50px;
}

.menu-item:last-child{
    margin-right: 0;
}

.menu,
.auth{   
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.auth{
    margin-left: auto;
}

.auth-item{
    margin-right: 50px;
}
.auth-item:last-child{
    margin-right: 0;
}

.auth-link,
.menu-link {
    padding-top: 32px;
    padding-bottom: 32px;
}

.auth-link {
    text-decoration: none;
    color: var(--common-text-color);
   
}
.auth-link:last-child{
    margin-right: 0;
}

 
.menu-link {
    text-decoration: var(--accent-color);
    color: var(--title-text-color);  
}

.menu-link:last-child{
   margin-right: 0;
}

.phone-icon, 
.email-icon{
  fill: currentColor;
}


.menu-link:hover,
.menu-link:focus,
.auth-link:hover,
.auth-link:focus{
    color: var(--accent-color);
}

/* -------------------------------------------Hero-------------------------------------------------------------------------*/

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img.jpg");
    background-size: cover;
    border: 1px solid #ECECEC;
    background-position: 50% 50%;
    background-repeat:no-repeat; 
}


.hero-title {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: var(--typical-margin);
    max-width: 696px;
    
    text-decoration: var(--accent-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color:#fff;
    text-transform:uppercase;
    text-align: center;
    
}

.hero-btn{ 
    display: flex;
    width: 200px;
    padding: 10px 32px;
    white-space: nowrap;
    margin-right: auto;
    margin-left: auto;
    border-radius: 4px;

    font-family: inherit;
    color: #fff;
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    align-items: center;
    text-align: center;
}

.hero-btn:hover, 
.hero-btn:focus { 
    background-color: #188CE8;
}
/* -------------------------------------------MENU BUTTONS PORTFOLIO PAGE-----------------------------------------------------*/
 

 .filter{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
 }

.filter-item{
    margin-left: 8px;      
}

.filter-item:first-child{
    margin-left: 0;
}

.filter-button {
    display: inline-block;
    padding: 6px 22px 6px 22px;
    white-space: nowrap;
    border-radius: 4px;
    border-color: transparent;
    vertical-align: text-top;

    font-family: inherit;
    color: var(--title-text-color);
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;  
    cursor: pointer;
}

.filter-button:focus,
.filter-button:hover {
   background-color: var(--accent-color);
   color: #fff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* -------------------------------------------PROJECTS LIST PORTFOLIO PAGE----------------------------------------------------------*/

.portfolio{
    padding-top: var(--typical-padding);
    padding-bottom: var(--typical-padding);
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}


.portfolio-item{
    width: 370px;
    margin-right: var(--typical-margin);
    margin-bottom:var(--typical-margin);
    
}
.portfolio-item:nth-child(3n){
    margin-right: 0;
}
.portfolio-item:nth-last-child(-n+3){
    margin-bottom: 0;
}


.portfolio-link{
    text-decoration: none;
    display:block;    
}

.portfolio-section{ 
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;   
    background: #FFF;
    border-top: none;
    border: 1px solid #EEE;
}

.portfolio-link:hover{
    box-shadow: 0px 1px 1px 
    rgba(0, 0, 0, 0.12), 0px 4px 4px
    rgba(0, 0, 0, 0.06), 1px 4px 6px 
    rgba(0, 0, 0, 0.16);
}


.portfolio-list-title{  
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;

}

.text-about{ 
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--common-text-color);
}


.portfolio-list-title:hover,
.portfolio-list-title:focus, 
.text-about:hover,
.text-about:focus{
    color: var(--accent-color);
}


/* -------------------------------------------Features-------------------------------------------------------------------------*/

.title-hide{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features{
     
    padding-top: var(--typical-padding);
    padding-bottom: 0;
}

.features-about{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--common-text-color);
}

.features-list{
    display: flex;
    
}

.features-box{
    display: flex;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #F5F4FA;
}
 .features-icon{
   width: 70px;
   height: 70px;
 }

.features-list-item{
    margin-bottom: 0;
    margin-right: var(--typical-margin);
     
}

.features-list-item:last-child {
    margin-right:0;
}

.features-title{ 
    margin-bottom: 10px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
     
}

/* -------------------------------------------What we do-------------------------------------------------------------------------*/

.what-we-do{
    padding-top: var(--typical-padding);
    padding-bottom:var(--typical-padding);
}

.what-we-do-title {
    margin-bottom: 50px;
    text-align: center;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
   
}


.what-we-do-list {
    display:flex;
}

.what-we-do-item{
    margin-right: var(--typical-margin);
}

.what-we-do-item:last-child{
  margin-right: 0;
}


.box-what-we-do{
   position: relative;
   
}
.litle-box-what-we-do{
    position: absolute;
    display: flex;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
}



.what-we-do-title-title{
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
}


/* -------------------------------------------Team------------------------------------------------------------------------*/

.team {
    padding-top: var(--typical-padding);
    padding-bottom: var(--typical-padding);
    background-color: #F5F4FA;
    text-align: center;
}

.team-list {
    display: flex;
}

.team-item { 
    width: 270px;
    margin-right: var(--typical-margin);  
    background: #fff;
    border-radius: 0px 0px 4px 4px;
    
}
.team-item:last-child{
    margin-right:0;
    
}


.team-title,
.team-title-lower {
     
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}



.team-title {
    display: inline-block;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.team-card{
    padding-top: var(--typical-margin);
    padding-bottom: 30px;
    box-shadow: 0px 1px 3px 
            rgba(0, 0, 0, 0.12), 0px 1px 1px 
            rgba(0, 0, 0, 0.14), 0px 2px 1px 
            rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-title-lower {
   
    margin-bottom: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.team-profession {
    margin-bottom: 16px;
    text-align: center;
    font-size: 16px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--common-text-color); 
}
.socialnetwork-list{
    display: flex;
    justify-content: center; 
}

.snw-item{
    margin-right: 10px;
}

.snw-item:last-child,
.socialnetwork-list:last-child{
    margin-right: 0;
}

.snw-link{
   display: flex;
   width: 44px;
   height: 44px;
   border-radius: 50%;
   justify-content: center ;
   align-items: center;
   color: #afb1b8;
}

.snw-icon{
    fill: currentColor;
   
}


.snw-link:hover{
    color:#fff;
    background-color: var(--accent-color);

}


/* ------------------------------------------Ð¡lients-------------------------------------------------------------------------*/
 .clients{
     padding-top: var(--typical-padding);
     padding-top: var(--typical-padding);
     padding-bottom: var(--typical-padding);
 }

 .clients-title{
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height:1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
 }

 
.clients-list{
    display: flex;
    flex-direction: row;   
     
}

.client-item{
    margin-right: var(--typical-margin);
}

.client-item:last-child{
    margin-right:0;
}
 
.client-link{
    display: flex; 
    justify-content:center;
    align-items: center;
    width: 170px;
    height: 92px;
    color: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}

.icon{ 
    width: 106px;
    height: 60px;
    fill:currentColor;
}

.client-link:hover{
    color: var(--accent-color);
    border-color: var(--accent-color);
   
}




/* -------------------------------------------Footer------------------------------------------------------------------------*/
.footer{
    padding-top: 60px ;
    padding-bottom: 60px;
    background-color: var(--body-dark-color);
}


.footer .logo {
    display: inline-block;
    margin-right: 0;
    margin-bottom: 20px;
    color: #fff;
}  

.footer-item{
   margin-bottom: 9px; 
  
}

.footer-item:last-child{
    margin-bottom: 0;
}

.footer-address,
.footer-email,
.footer-phon{
    display: inline-block;
    text-decoration: var(--accent-color);
    font-style: normal;  
    font-size: 14px;
    line-height:1.71;
    letter-spacing: 0.03em;
}

.footer-address{
    color: #fff;
}

.footer-email,
.footer-phon{
    color: rgba(255, 255, 255, 0.6);
}

.footer-email:hover,
.footer-phon:hover, 
.footer-email:focus,
.footer-phon:focus
.footer-address:hover,
.footer-address:hover{
     color: #FFF; 
    }

/* -------------------------------------------Join us------------------------------------------------------------------------*/

.footer .container{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.join-us{
     
   margin-left: 70px;
}

.join-title{
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFF;
}

.join-list{
    display: flex;
    flex-direction: row;
}

.join-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
}
.socialnetwork-list {
    display: flex;
    justify-content: center;
}

.join-item {
    margin-right: 10px;
}

.join-item:last-child,
.join-list:last-child {
    margin-right: 0;
}

.join-icon {
    fill: currentColor;
}

.join-link:hover {
    background-color: var(--accent-color);

}